@import url(http://fonts.googleapis.com/css?family=Righteous);
/* ---------------
    Import
   --------------- */
/* ---------------
    Color
   --------------- */
/* ---------------
    Mixin
   --------------- */
/* ---------------
    Scss
   --------------- */
/* line 13, ../scss/base.scss */
body {
  background-color: #f7f3e8;
  word-wrap: break-word;
}

/* line 18, ../scss/base.scss */
#title-font {
  font-family: 'Righteous', cursive;
  font-size: x-large;
}

/* line 23, ../scss/base.scss */
.content-wrapper {
  margin: 20px 0;
  padding: 20px;
  -webkit-box-shadow: 0 0 3px #999999;
  -moz-box-shadow: 0 0 3px #999999;
  box-shadow: 0 0 3px #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}

/* line 31, ../scss/base.scss */
#profile {
  margin-top: 20px;
}

/* line 34, ../scss/base.scss */
.left {
  display: inline-block;
  float: left;
}

/* line 39, ../scss/base.scss */
.right {
  display: inline-block;
  margin-left: 10px;
}
