/* ---------------
    Import
   --------------- */
/* ---------------
    Color
   --------------- */
/* ---------------
    Mixin
   --------------- */
/* ---------------
    Scss
   --------------- */
/* line 12, ../scss/base.scss */
body {
  background-color: #f7f3e8;
  word-wrap: break-word;
}

/* line 19, ../scss/base.scss */
.my-panel .panel-heading {
  color: #fff;
  background-color: #fad67a;
}

/* line 27, ../scss/base.scss */
.p-h-title {
  font-size: large;
}

/* line 31, ../scss/base.scss */
.content-wrapper {
  margin: 20px 0px;
  -webkit-box-shadow: 0 0 3px #999999;
  -moz-box-shadow: 0 0 3px #999999;
  box-shadow: 0 0 3px #999999;
}

/* line 38, ../scss/base.scss */
.posistion-right {
  margin: 40px;
}
