@import url(http://fonts.googleapis.com/css?family=Righteous);
/* ---------------
Import
--------------- */
/* ---------------
    Color
   --------------- */
/* ---------------
    Mixin
   --------------- */
/* ---------------
Scss
--------------- */
/* line 13, ../scss/base.scss */
body {
  background-color: #f7f3e8;
  background-image: url("/img/background.png");
  word-wrap: break-word;
}

/* line 19, ../scss/base.scss */
#title-font {
  font-family: 'Righteous', cursive;
  font-size: 32px;
  color: #f2c922;
  text-shadow: -1px 1px 0 white;
}

/* line 26, ../scss/base.scss */
.content-wrapper {
  margin: 20px 0;
  padding: 20px;
  -webkit-box-shadow: 0 0 3px #999999;
  -moz-box-shadow: 0 0 3px #999999;
  box-shadow: 0 0 3px #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}

/* line 34, ../scss/base.scss */
#footer {
  border-top: solid 1px #ddd;
}

/* line 38, ../scss/base.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #fad67a;
}

/* line 44, ../scss/base.scss */
.panel-primary {
  border-color: #fad67a;
}

/* line 48, ../scss/base.scss */
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #fad67a;
  border-color: #fad67a;
}
