/* ---------------
    Color
   --------------- */
/* ---------------
    Mixin
   --------------- */
/* line 5, ../scss/stream.scss */
ul#stream-tab {
  margin-top: 20px;
}

/* line 9, ../scss/stream.scss */
.item-title > .category {
  margin-left: 10px;
}

/* line 12, ../scss/stream.scss */
.item-title {
  margin-top: 3px;
}

/* line 16, ../scss/stream.scss */
.items, .works {
  border-bottom: thin dotted #a9a9a9;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 22, ../scss/stream.scss */
.pull-right {
  margin-left: 5px;
}
