/* ---------------
    Import
   --------------- */
@import "compass";
@import "compass/reset/";
@import "config";
@import "style";

/* ---------------
    Scss
   --------------- */

body {
	background-color: #fff;
	word-wrap: break-word;	
}

.content-wrapper {
	padding :40px;
	@include box-shadow(0 1px 3px #666);
	@include border-radius(3px);
}
