/* ---------------
    Import
   --------------- */
@import "compass";
@import "compass/reset/";
@import "config";

/* ---------------
    Mixin
   --------------- */
   
@mixin gradient-top-lighten($color:#666, $lighten:10%){
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

@mixin gradient-top-darken($color:#666, $darken:10%){
  background-color: $color;
  @include filter-gradient(darken($color, $darken), $color, vertical);
  @include background-image(linear-gradient(darken($color,  $darken) 0%, $color 100%));
}

@mixin ts-000($op : .4){
  text-shadow: 1px -1px rgba(0, 0, 0, $op);
}

@mixin ts-fff($op : .7){
  text-shadow: -1px 1px rgba(255, 255, 255, $op);
}

@mixin picture-frame($name){
  width : image-width($name);
  height : image-height($name);
  display: block;
  @include gradient-top-lighten($color:#f0f8cc, $lighten:10%);
  @include box-shadow(0 1px 3px #666);
  @include border-radius(3px);
  padding :10px;
}

@mixin line-top($op1: .2, $op2: .3){
  border-top: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0 inset);
}

@mixin line-bottom($op1: .2, $op2: .3){
  border-bottom: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2)0 1px 0);
}

@mixin line-left($op1: .2, $op2: .3){
  border-left: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow (rgba(255, 255, 255, $op2) -1px 0 0);
}

@mixin line-right($op1: .2, $op: .3){
  border-right: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) -1px 0 0 inset);
}

/* ---------------
    Scss
   --------------- */

body {
	background-color: #fff;
	word-wrap: break-word;	
}

.content-wrapper {
	padding :40px;
	@include box-shadow(0 1px 3px #666);
	@include border-radius(3px);
}