@import "compass";
@import "config";
@import "style";

ul#stream-tab {
  margin-top: 20px
}

.item-title span {
  margin-left: 10px
}

.item-title a {
  font-size: 16px;
}

#profile {
  margin-top: 20px;
}
.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  margin-left: 10px;
}

.items {
  border-bottom: thin dotted;
  padding-bottom: 10px;
}
