@import "compass";
@import "config";
@import "style";

.item-title {
  font-size: x-large;
  font-weight: bold;
  margin: 15px 0;
}

.item-date {
  font-weight: bold;
  float: left;
}

.star-badge {
  margin-left: 20px;
  float: left;
}

.item-content {
  font-size: small;
}

.tags {
  margin-top: 20px;
}

.item-title span {
  margin-left: 10px
}

.item-title a {
  font-size: 16px;
}

.items {
  border-bottom: thin dotted #a9a9a9;
  padding-bottom: 10px;
}

.submit-button-wrapper {
  margin-top: 20px;
}

hr {
  margin :30px 0;
}

.twitter-share-button {
  margin-left: 20px;
  float: left;
}

#js-delete-item {
  margin-left: 10px;
}

ul.list {
  list-style: none;
}
li.relatedwork {
  width: 130px;
  float: left;
  margin-right: 10px;
  display: list-item;
}
.relatedwork_thumb img {
  border: 1px solid black;
}
p.relatedwork_title {
  display: block;
  margin: 0;
}

.user_data {
  display: block;
}
.comment_box {
  background-color: white;
}
.screen_name {
  display: block;
}
.comment_status {
  font-size: 90%;
}
.item-delete {
  margin-top: 25px; 
}
#js-update-item {
  margin-left: 10px; 
}
