@import "compass";
@import "config";
@import "style";

.tab-wrapper {
	margin-top: 40px;
}

ul#stream-tab {
  margin-top: 20px
}

.item-title span {
  margin-left: 10px
}

.items, .works {
  border-bottom: thin dotted #a9a9a9;
  padding-top: 10px;
  padding-bottom: 10px;
}
